body{
    background-image: linear-gradient(rgb(251, 252, 188), rgb(105, 150, 248));
}
pro.welcome{
    position: absolute;
    width: 600px;
    height: 100px;
    margin: 20% 30%;
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 30%;
}
pro.welcome ul h1{
    left:100%;
    color: black;
    text-transform: uppercase;
    font-family: 'Marck Script', cursive;
    font-size: 60px;
    top: 20%;
    margin-top: 10px;
}
pro.welcome ul p{
    font-family: "Courier New", Times, serif;
    font-size: 30px;
}